<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>

<%# <link href="../stylesheets/edit.css" rel="stylesheet" type="text/css"> %>
<style>
input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 6px;
    margin-bottom: 6px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.containerOne {
    padding: 20px;
    width: 50%;
    margin-left: 23%;
    margin-bottom: 25px;

}

.c25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.c75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear:left;

}

@media (max-width: 600px) {
    .c25, .c75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
</style>
</head>

<body class="container">

  <header>
    <% include ./partials/header.ejs %>
  </header>

  <div>
    <h1 id="secondHeader">Edit Album</h1>
  </div>

    <div class="containerOne">
    <form action="/collections/<%=album._id %>?_method=PUT" method="POST">
      <div class="row">
        <div class="c25">
          <label for="name">Album Name</label>
        </div>
        <div class="c75">
          <input required type="text" id="name" name="album[name]" value="<% album.name %>">
        </div>
      </div>
      <div class="row">
        <div class="c25">
          <label for="artistName">Artist Name</label>
        </div>
        <div class="c75">
          <input required type="text" id="artistName" name="album[artistName]" value="<%= album.artistName %>">
        </div>
      </div>
      <div class="row">
        <div class="c25">
          <label for="releasedate">Release Date</label>
        </div>
        <div class="c75">
          <input required type="text" id="releasedate" name="album[releaseDate]" value="<%= album.releaseDate %>">
        </div>
      </div>
      <div class="row">
        <div class="c25">
          <label for="genres">Genres</label>
        </div>
        <div class="c75">
          <input required type="text" id="genres" name="album[genres]" value="<%= album.genres %>">
        </div>
      </div>
      <div class="row">
        <div class="c25">
          <label for="imageurl">Album Cover</label>
        </div>
        <div class="c75">
          <input required type="text" id="imageurl" name="album[imageurl]" value="<%= album.imageurl %>">
        </div>
      </div>
      <div class="row">
        <input class="btn btn-primary btn-large" type="submit" value="Submit">
      </div>
    </form>
  </div>
</body>
</html>

  <footer>
    <% include ./partials/footer.ejs %>
  </footer>
